
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh; 
    background-color: #ececec;
    background-size: cover ; 
    background-position: center; 
    justify-content: right;
    align-items: center;
    display: flex;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    background: #2E8B57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: #555;
  }
 .wrapper {
    margin-top: 100px;
    position: relative; 
    border: none;
    border-radius: 50px; 
    align-items: center;
    width: 90%;
    height:80vh;
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-left: 500px;
    margin-top: 100px;
}
.logo img{
    user-select: none;
    width: 50px;
    height: auto;
    margin-left: -50PX;
    }
    .address{
    font-size: 12px;
    color: #fff;
    user-select: none;
    font-style: italic;
    font-weight: bold;
    margin-left:-650px;
    
    }
    .sub{
    font-size: 1em;
    color: #fff;
    user-select: none;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-left:-100px;
    
    }

.navigation .btnLogin-popup{
    width: 90px;
    height: auto;
    padding: 10px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    margin-right: -40px;
    margin-bottom: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #2E8B57;
}
/* Add these styles to your CSS file */
.form-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

.form-box h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

.form-box h3 {
    font-weight: normal;
    font-size: 18px;
    color: #2E8B57;
    margin-bottom: 20px;
}

.form-box label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box input[type="file"],
.form-box input[type="checkbox"],
.form-box button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-box input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
}

.form-box button {
    background-color: #2E8B57;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-box button:hover {
    transform:translateY(-3px);
    background-color: #195734;
}

.message_success {
    color: #4CAF50;
    font-weight: bold;
}

.message_error {
    color: #f44336;
    font-weight: bold;
}

  .logo1 img{
    scale: 300%;
    user-select: none;
    width: 130px;
    height: auto;
    margin-left: 200px;
    margin-top: 150px;

}
